.container {
  width: 1660px;
  min-width: 1660px;
  margin: 0 auto;
}

* {
    box-sizing: border-box;
}

.swiper-pagination .swiper-pagination-bullet {
    width: 80px;
    height: 6px;
    margin-right: 8px;
    border-radius: 4px;
    background-color: #e2e7f3;
    opacity: .48;
}

.swiper-pagination .swiper-pagination-bullet.is-active {
    background-color: #fff;
    opacity: 1;
}

.swiper .swiper-button-prev {
    left:0;
    top: 0;
    height: 100%;
    width: 20%;
    opacity: 0;

    &:hover {
        background-color: #e2e7f3;
        opacity: .48;
    }
    &:after {
        display: none;
    }
}

.swiper .swiper-button-next {
    right:0;
    top: 0;
    height: 100%;
    width: 20%;
    opacity: 0;

    &:hover {
        background-color: #e2e7f3;
        opacity: .48;
    }

    &:after {
        display: none;
    }
}